@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap');
@import "tailwindcss";

@theme {
  --font-sora: "Sora", sans-serif;
  --font-inter: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.wrapper {
  @apply max-w-[1440px] mx-auto md:w-[90%] w-full;
}

.contain {
  @apply max-w-[1440px] mx-auto w-[90%];
}

.heading {
  @apply font-sora text-[#0F0F0F] lg:text-5xl/[50px] text-[32px]/10  font-semibold tracking-[-3px] text-center
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;     
}

